.date {
  display: inline-block;
  align-items: self-start;
}

.data {
  margin-top: 1em;
  overflow-y: auto;
  max-height: 70vh;
}

td {
  background-color: white;
  padding: 8px 16px;
  border: 1px solid #ccc;
}

th, thead {
  position: sticky;
}

.table {
  border-collapse: collapse;
}

.settings, .newItem, .data {
  padding-top: 1em;
}

.card-body {
  width: 30%;
  background-color: beige;
  margin-top: 1em;
  margin-bottom: 1em;
}