.timesheet {
  padding-left: 2%;
  padding-right: 2%;
  height: max-content;
}

.date {
  display: inline-block;
  align-items: self-start;
}

/* TODO: style this nicer */
td {
  background-color: white;
}

th {
  margin-left: 1em;
}

.settings, .newItem, .data {
  padding-top: 1em;
}

.card-body {
  width: 30%;
  background-color: beige;
  margin-top: 2%;
  padding-bottom: 2%;
}